<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a16254868.usuarioasteroide">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Asteroide"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeUsuarioActivity"
            android:label="Asteroide"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".NoticiasUsuarioActivity"
            android:label="Blog"
            android:parentActivityName=".HomeUsuarioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a16254868.usuarioasteroide.HomeUsuarioActivity" />
        </activity>
        <activity
            android:name=".CadastroUsuarioActivity"
            android:label="Cadastro"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a16254868.usuarioasteroide.MainActivity" />
        </activity>
        <activity
            android:name=".CadastroUsuarioSegundaParteActivity"
            android:label="Cadastro"
            android:parentActivityName=".CadastroUsuarioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a16254868.usuarioasteroide.CadastroUsuarioActivity" />
        </activity>
        <activity
            android:name=".QRCodeUsuarioActivity"
            android:label="QRCode"
            android:parentActivityName=".HomeUsuarioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a16254868.usuarioasteroide.HomeUsuarioActivity" />
        </activity>
        <activity
            android:name=".PerfilUsuarioActivity"
            android:label="Perfil"
            android:parentActivityName=".HomeUsuarioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a16254868.usuarioasteroide.HomeUsuarioActivity" />
        </activity>
        <activity
            android:name=".FaleConoscoActivity"
            android:label="Contato"
            android:parentActivityName=".HomeUsuarioActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.a16254868.usuarioasteroide.HomeUsuarioActivity" />
        </activity>
    </application>

</manifest>